<h1><%= @student.first_name + " " + @student.last_name%></h1>
<% active_status = @student.active ? "active" : "inactive" %>
<p><%= "This student is currently #{active_status}." %></p>

<p><%=link_to "Activate Student", activate_student_path%><p>
